<!DOCTYPE html>
<html lang="es">
<head>
<title>Hosting IESGN</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
</head>
<body id="page1" onLoad="new ElementMaxHeight();">
<div class="tail-top">
<!-- header -->
	<header>
		<div class="container">
			<div class="header-box">
				<div class="left">
					<div class="right">
						<nav>
							<ul>
								<li class="current"><a href="/">Inicio</a></li>
								<li><a href="/alta">Alta</a></li>
								<li><a href="/baja">Baja</a></li>
								<li><a href="http://net2ftp.iesgn.org/">Net2FTP</a></li>
								<li><a href="support.html"></a></li>
								<li><a href="contacts.html"></a></li>
							</ul>
						</nav>
						<h1><a href="/"><span>IES</span>GN</a></h1>
					</div>
				</div>
			</div>
				</fieldset>
			</form>
		</div>
	</header>
<!-- content -->
	<section id="content">
		<div class="container">
			<h1>Baja Hosting</h1>
<form action="/r_baja" method="post">
            Nombre de Dominio: <input name="dom" type="text" />
            <input value="Enviar" type="submit" />
			</div>

</form>
</body>
</html>
