<!DOCTYPE html>
<html lang="es">
<head>
<title>Hosting IESGN</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
</head>
<body id="page1" onLoad="new ElementMaxHeight();">
<div class="tail-top">
<!-- header -->
	<header>
		<div class="container">
			<div class="header-box">
				<div class="left">
					<div class="right">
						<nav>
							<ul>
								<li class="current"><a href="/">Inicio</a></li>
								<li><a href="/alta">Alta</a></li>
								<li><a href="/baja">Baja</a></li>
								<li><a href="http://net2ftp.iesgn.org/">Net2FTP</a></li>
								<li><a href="support.html"></a></li>
								<li><a href="contacts.html"></a></li>
							</ul>
						</nav>
						<h1><a href="/"><span>IES</span>GN</a></h1>
					</div>
				</div>
			</div>
				</fieldset>
			</form>
		</div>
	</header>
<!-- content -->
	<section id="content"><div class="ic">More Website Templates at TemplateMonster.com!</div>
		<div class="container">
			<div id="faded">
				<ul class="slides">
				</ul>
				<ul class="pagination">
					<li><a href="#" rel="0"><span>Web Hosting</span></li>
				</ul>
			</div>
</body>
</html>
